.header{
    min-height: 600px;
    max-height: 756px;
    height: 100vh;
    position: relative;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    z-index: 0;
    justify-content: space-between;
    overflow: hidden;
    /* border: 10px solid blue; */
}
